Config(
  color1: "#2bd4ff",
  color2: "#00e600",
  color3: "#b5fd0d",
  color_vcs_change: "#f4d03f",
  color_venv: "#00c0a3",
  cwd_darken_factor: 0.25,
  cwd_darken: true,
  cwd_highlight_last: true,
  venv_right_side: true,
)
