Config(
  color1: "#ccb1ed",
  color2: "#b1d196",
  color3: "#f0a6cc",
  color_vcs_change: "#f9cb8c",
  color_venv: "#65b1cd",
  cwd_darken_factor: 0.20,
  cwd_darken: true,
  cwd_highlight_last: true,
  venv_right_side: true,
)
