Config(
  color1: "#7E9CD8",
  color2: "#98BB6C",
  color3: "#C8C093",
  color_vcs_change: "#DCA561",
  color_venv: "#2D4F67",
  cwd_darken_factor: 0.25,
  cwd_darken: true,
  cwd_highlight_last: true,
  venv_right_side: true,
)


